
h5 
{
text-align:text-top; 
color: blue
}
h3 
{text-align:right; color: black; font-family: serif; font-size: 1.3em}


dl dt {text-align:center; color:blue; background-color: rgb(255,255,0); font-family:cursive;font-size:50pt  }

#end 
{text-align: right; font-size:0.8em; margin-right:1000px}



.fotosfest  {width:450px; height:350px}



